<center>
<div class="Logo">
	<img src="Images/Logo.png" class="HeaderTitle"/>
</div>
</center>
<div class="Menu">
	<div id="HeaderMenu" class="HeaderMenu" ng-repeat="product in con.products" style={{con.menuLength}}>
		<div class="MenuOp" id={{product.Class}} ng-mouseover="con.hoverOn(product.Class);" ng-mouseleave="con.hoverOff(product.Class);">
			<a class="HeadM" href={{product.Link}} ng-show={{product.hasLink}}>{{product.header}}</a>
			<p class="HeadM" ng-hide={{product.hasLink}}>{{product.header}}</p>
			<div id="divSlides">
				<a ng-repeat="slides in product.slide" href={{slides.Link}} class={{slides.Class}} id="slides">{{slides.option}}</a>
			</div>
		</div>
	</div>
</div>